.header{
    background: url(images/hlopok.jpg) no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;  
    align-items: center;
}
body{
    font-size: 20px;
}
.veidi > li, .veidi > ul  {
    display: flex;
    flex-direction: column;
    text-align: center;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.gimenes{
    text-decoration: underline;


}
#augi td, #augi th {
    border: 1px solid #ddd;
    padding: 8px;
}
.nosaukumi{
    margin-bottom: 20px;
}
.tabula{
    display: flex;
    justify-content: center;
}
p{
    margin-left: 35px;
    width: 180vh;
}