.header{
    background: url(images/hlopok.jpg) no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;  
    align-items: center;
}
body{
    font-size: 20px;
}
.veidi{
display:flex;
flex-direction: column;
align-items: center;
}
ul > li{
    margin-left: -200px;
}
.num{
    margin-left: 30px;
    font-weight: 700;
}
.gimenes{
    text-decoration: underline;
}
#augi td, #augi th {
    border: 1px solid #ddd;
    padding: 8px;
}
.nosaukumi{
    margin-bottom: 20px;
    margin-left: 35px;
}
.tabula{
    display: flex;
    justify-content: center;
}
p{
    margin-left: 35px;
    width: 180vh;
}
.video{
    display: flex;
    justify-content: center;
}
footer{
    margin-top: 30px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adv{
    text-decoration: none;
    background-color: rgb(189, 186, 186);
    padding: 10px;
    border-radius: 6px;
}
.top{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}