.header{
    background: url(images/hlopok.jpg) no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;  
    align-items: center;
}
body{
    font-size: 20px;
}
.veidi{
display:flex;
flex-direction: column;
align-items: center;
}
li{
    margin-left: -200px;
}
.gimenes{
    text-decoration: underline;
}
#augi td, #augi th {
    border: 1px solid #ddd;
    padding: 8px;
}
.nosaukumi{
    margin-bottom: 20px;
    margin-left: 35px;
}
.tabula{
    display: flex;
    justify-content: center;
}
p{
    margin-left: 35px;
    width: 180vh;
}
.video{
    display: flex;
    justify-content: center;
}
footer{
    margin-top: 30px;
    height: 100px;
    background-color: rgb(169, 252, 220);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span{
    height: 15px;
    width: 30px;
}
.adv{
    text-decoration: none;
}